#profilo_medico{
    .dati_medico{
        background: linear-gradient(0deg, rgba(131, 58, 180, 0) 354px, #673ab7 50%); 
        .a_container {
            max-width: 90%;
            margin: auto;
            padding-top: 40px;
            
            .img_medico_profilo {
                min-width: 30%;
                
                img {
                    width: 70%;
                    border-radius: 10px;
                    box-shadow: 12px 13px 14px -7px #d3d3d38a;
                    margin: 45px;
                    margin-top: 20px;
                }
            }
            
            .middle_medico_profilo {
                max-width: 40%;
                .bio_medico_profilo {
                    min-width: 50% !important;
                    padding: 30px;
                    border-radius: 40px;
                    color: $blu_viola;
                    box-shadow: 12px 13px 14px -7px #d3d3d38a;
                    background: #ffffffab;
                    text-shadow: 0px 0px 17px black;
                    .dati_specifici_medico_profilo{
                        ul{
                            list-style: none;
                            li{
                                span{
                                    padding-left: 1px;
                                }
                            }
                        }
                    }
                }
            }

            .specializzazioni_medico_profilo{
                min-width: 30%;
                padding: 40px 0;
                .special_container{
                    width: fit-content;
                }
                .badge{

                    padding: 10px;
                    font-size: large;
                    margin: 10px;
                }
            }
        }
    }
    .b_container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        .sfondo{
            background-color: lightgreen;
            min-width: 30%;
            padding: 25px;
            // .prestazioni_medico_profilo{
    
            // }
        }
        .form_m_r{
            background-color: rgb(153, 144, 238);
            min-width: 25%;
            padding: 25px;
            
        }
    }
    .c_container{
        max-width: 90%;
        margin: auto;
        min-height: 250px;
        .container_recensioni{
            background-color: rgb(144, 174, 238);
            min-width: 45%;
            padding: 25px;
            #pordue {
                width: 90%;
                margin: auto;
                display: flex!important;
                margin: 10px;
                min-width: 30%;
                max-width: 30%;
                .card{
                    width: 30%;
                    .collapse.show{
                        min-width: 30%;
                        max-width: 30%;
                    }
                }
            }
        }

    }


    .red{background-color: rebeccapurple;height: 100px; width: 100px;}
    .blue{background-color: blue;height: 100px; width: 100px;}
//     background-color: white;
//     .jumbo_medico_profilo{
//         height: 200px;
//         width: 100%;
//         background: rgb(2,0,36);
//         background: linear-gradient(180deg, rgba(2,0,36,1) 0%, #6146C6 60%, #957af8 100%);
//         a{
//             .fa-arrow-circle-left{
//                 color: #53e2ba;
//                 font-size: 30px;
//                 margin: 5px;
//             }
//             .fa-home{
//                 color: #53e2ba;
//                 font-size: 30px;
//                 margin: 5px;
//             }
//         }
//     }
//     .main_medico_profilo{
//         .top_medico_profilo{
//             width: 90%;
//             margin: auto;
//             }

//             .dati_medico_profilo{
//                 padding: 10px;
//                 h3{
//                     text-transform: capitalize;
//                 }
//                 .specializzazioni_medico_profilo{
//                     margin-bottom: 30px;
//                 }
//             }

//             .prestazioni_medico_profilo{
//                 width: 100%;
//                 margin: 20px 0;
//                 background-color: #53e2ba;
//                 box-shadow: 3px 3px 3px #646766;
//                 .card-header{
//                     .card-title{
//                         font-weight: bold;
//                         height: 30px;
//                     }
//                 }
//                 .card-body{
//                     min-height: 50px;
//                     .list-unstyled{
//                         .badge{
//                             background-color: #53e2ba;
//                         }
//                     }
//                 }
//             }
//         }
        
//         .middle_medico_profilo{
//             height: 300px;
//             width: 100%;
//             margin-top: 50px;
//             margin: auto;

//         }

//         .container_recensioni_medico_profilo{
//             height: 200px;
//             justify-content: space-around;
//             align-items: center;
            
//             .card_recensioni_medico_profilo{
//                 border: 1px solid #4ed3ad;
//                 background-color: #53e2ba;
//                 border-radius: 10px;
//                 padding: 5px;
//                 height: 90%;
//                 width: 25%;
//                 box-shadow: 3px 3px 3px #646766;

//                 strong{
//                     text-transform: capitalize;
//                 }

//                 .corpo_recensione{
//                     margin-top: 15px;
//                 }
//             }
//         }
           
//         .form_medico_profilo{
//             background: linear-gradient(270deg, rgba(2,0,36,1) 0%, #6146C6 50%, #6146C6 100%);
//             width: 100%;
//             margin-top: 30px;
//             height: 400px;
//             justify-content: space-around;
//             align-items: center;
//         }
//     }
}