// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font
@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap');

//Variabili
@import 'common/variables';

//mixin
@import 'common/mixin';
//Common
@import 'common/common';


//navbar
@import 'navbar/navbar';
@import 'navbar/hamburger';
// end navbar

// Jumbotron
@import 'jumbotron/jumbo';
// end Jumbotron

// Ricerca Rapida
@import 'main/card_ricerca_rapida';

// Sponsorizzati
@import 'main/sponsorizzati';

// Iphone_frame
@import 'main/iphone_frame';

// Statistiche
@import 'main/statistiche';

// Footer
@import 'footer';

// Il nostro Team
@import 'our';

// Ricerca avanzata
@import 'advanced_search';

// Profilo medico
@import 'profilo/profilo-medico';
//File form messaggi
@import 'profilo/form-message';
//File form recensioni
@import 'profilo/form-recensioni';

// Media
@import 'common/media';