@media (max-width:980px) {
    .hamburger{
        visibility: visible;
    }
    .nav_principale{
        display: none!important;
    }
}
@media (min-width:980px) {
    .hamburger {
        display: none !important;
    }
}