.our_team{
    width: 100%;
    background-color: blueviolet;
    .container_team{
        padding: 50px 0;
        .card_foto {
            text-align: center;
            width: 250px;
            display: flex;
            .foto_cerchi{
                padding: 6px 25px;
                position: relative;
                width: 250px;
                img{
                    // position: absolute;
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                }
                /* Ellipse 1  alto sinistra*/
                .elisse_1{
                    position: absolute;
                    width: 75px;
                    height: 75px;
                    background: rgba(205, 129, 219, 0.75);
                    border-radius: 100px;
                    top: 0;
                    left: 20px;
                }
                .elisse_2{
                    /* Ellipse 2 basso spigolo*/
                    position: absolute;
                    width: 75px;
                    height: 75px;
                    background: #4E54D7;
                    border-radius: 100px;
                    bottom: 0;
                    right: 0;
                }
                .elisse_3{
                    /* Ellipse 3 basso sopra spigolo*/
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background: rgba(160, 129, 219, 0.95);
                    border-radius: 100px;
                    bottom: 50px;
                    right: 0;
                }
                .elisse_4{
                    /* Ellipse 4 alto sinistra*/
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background: rgba(219, 129, 187, 0.7);
                    border-radius: 100px;
                    top: 50px;
                    left: 0;
                }
            }
        }
    }
}