nav{

    .container_nav{
        background-color: white;
        width: 70%;
        margin: auto;
        padding: 25px 0;

        img {
            width: 60px;
        }

        .login {
            align-items: center;
            display: flex;
            justify-content: center;

            .top-right {
                width: 100%;

                .loggedin {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    .notification {
                        padding-right: 25px;
                    }
                }
            }
        }
    }
}