.statistiche {
    position: relative;
    box-shadow: inset 0px 20px 20px 0px white;
    padding: 50px 0;
    background: #f9fafe;
    height: 500px;
    .angolo_sinistra_alto{
        position: absolute;
        top: -2px;
        left: 0;
        width: 100px;
        height: 100px;
        background: $lilla;
        border-radius: 0px 0px 106px 0px;
    }
    .angolo_destra_basso {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 100px;
        background: $viola;
        border-radius: 0px 0px 106px 0px;
        transform: rotate(-180deg);
    }
    .container_statistiche{
        width: 90%;
        margin: auto;

        .statistiche_left {
            height: 100%;
            width: 100%;
            z-index: 1;
            .lays{
                text-shadow: -1px 1px 13px #673ab7c7;
                color: #56008b;
                font-weight: 800;
                box-shadow: 2px -3px 14px 10px #ffffff1c;
                background-color: #ffffff29;
                
                // box-shadow: 2px 3px 20px 19px #d2691e57;
                // background-color: #ff57224a;
                padding: 30px;
                border-radius: 100px;
            }
        }
        
        .statistiche-right {
            height: 90%;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
            // background: rgba(217, 255, 244, 0.3);
            img {
                height: 100%;
                border-radius: 115px;
            }

        }
    }
}

