@media (min-width: 280px) and  (max-width:1450px){
    /* Ricerca avanzata */
    #search{
        .filtri{
            flex-direction: column;
            .filtri_recensioni{
                width: 100%;
                border-bottom: 2px solid #b1b0e4;
            }
            .filtri_voti{
                width: 100%;
            }
        }

        .container_card_search{
            width: 90%;
            .card_search{
                width: 22%;
                height: 400px;
                a{
                    .card_top_search{
                        h4{
                            font-size: 22px;
                        }
                        .immagine_dottore_search{
                            height: 80px;  
                        }
                    }
                    .dati_dottore_search{
                        height: 320px;
                    }
                }
            }
        }
    }
    /* /Ricerca avanzata */
}
@media (max-width:1200px){
       nav{
           .container_nav {
               width: 100%;
           }
       }
    .search_comp {
            position: absolute;
            top: 2.6%;
            left: 25%;
            width: 30%;
            margin: auto;
            display: flex;
            align-items: center;

            .btn-grad-secondary {
                padding: 10px 40px !important;
            }
        }

        /* Ricerca avanzata */
        #search{
            .container_card_search{
                .card_search{
                    width: 28%;
                }
            }
        }
        /* /Ricerca avanzata */
}

@media (max-width:992px) {
    .hamburger{visibility: visible;}
    .hamburger {
        .navbar-brand {
            .logo {margin: 10px;
                width: 100px;
            }
        }
    }
    .search_comp {
        position: absolute;
        top: 5.9%;
        left: 32%;
        width: 50%;
        .btn-grad-secondary {
            padding: 7px 30px !important;
        }
    }
    .nav_principale{display: none!important;}
    .statistiche{
            .statistiche-right {
                .angolo_sinistra_alto {
                    z-index: 1;
                }

                filter: blur(4px);

                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position: center;
                // img {
                //     width: 100%;
                //     border-radius: 115px;
                // }

            }
    }

    /* Ricerca avanzata */
    #search{
        .container_card_search{
            width: 95%;
            .card_search{
                width: 28%;
                height: 370px;
                a{
                    .card_top_search{
                        h4{
                            font-size: 18px;
                        }
                        .immagine_dottore_search{
                            height: 70px;  
                        }
                    }
                    .dati_dottore_search{
                        height: 300px;
                        div{
                            ul{
                                font-size: 18px;
                                li{
                                    font-size: 15px;
                                }
                            }
                        }
                        p{
                            font-size: 18px;
                            strong{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* /Ricerca avanzata */
}

@media (min-width:993px) {
    .hamburger {display: none !important;}
    .card_specializzazione {width: 150px;}
    .search_comp {
        position: absolute;
        top: 2.6%;
        left: 23%;
        width: 30%;
        margin: auto;
        display: flex;
        align-items: center;
        
        .btn-grad-secondary {
            padding: 10px 40px !important;
        }
    }
        .container_statistiche{
        width: 90%;
        margin: auto;

        .statistiche_left {
            position: absolute;
            top: 0;
            left: -19%;
            height: 100%;
            width: 100%;
            z-index: 1;
            .lays{
                padding: 30px;
                border-radius: 100px;
            }
        }
        
        .statistiche-right {
            height: 100%;
            position: absolute;
            bottom: 0;
            right: 10%;
            filter: blur(-4px);
            // img {
            //     height: 100%;
            //     border-radius: 115px;
            // }

        }
    }
}
@media (max-width: 768px) {
    .card_sponsorizzato {
        margin-bottom: 10px;
    }
        /* Ricerca avanzata */
        #search{
            .filtri{
                flex-direction: column;
                .filtri_recensioni{
                    .recensioni_search{
                        span{
                            &:hover{
                                transform: none;   
        
                            }
                        }
                    }
                }
                .filtri_voti{
                    width: 100%;
                    flex-wrap: wrap;
                    .voti_search{
                        width: 100%;
                        flex-wrap: wrap;
                        span{
                            margin: 5px 0;
                            &:hover{
                                transform: none;   
        
                            }
                        }
                }
                }
            }
            .container_card_search{
                width: 95%;
                .card_search{
                    width: 40%;
                    height: 370px;
                    a{
                        .card_top_search{
                            h4{
                                font-size: 18px;
                            }
                            .immagine_dottore_search{
                                height: 70px;  
                            }
                        }
                        .dati_dottore_search{
                            height: 300px;
   
                        }
                    }
                }
            }
        }
        /* /Ricerca avanzata */
}
@media (min-width: 575px) and (max-width: 768px) {
    .card_ricerca_rapida {
        padding: 30px 0;
        .card_specializzazione {
            width: 100px;
        }
    }
    .card_sponsorizzato {flex-direction: column!important;}
    
    .angolo_destra_alto {
        width: 75px;
        height: 75px;
    }
    .angolo_sinistra_alto {
        width: 75px;
        height: 75px;
    }
    .angolo_destra_basso {
        width: 75px;
        height: 75px;
    }
    .angolo_sinistra_basso {
        width: 75px;
        height: 75px;
    }
    
    
    footer{
        .container_footer{
            display: flex !important;
            flex-direction: column;
            .left_footer{width: 100%;}
            .center_footer{
                width: 60%;
                .iphone_top{top: 20%;}
                margin: auto;
            }
            .right_footer{width: 100%;}
        }
    }
}
@media (min-width: 375px) and (max-width: 575px) {
    .search_comp {
        position: absolute;
        top: 19%;
        left: 3%;
        width: 35%;
        margin: auto;
        display: block;
        z-index: 1;
        .btn-grad-secondary {
            margin: 0;
            margin-top: 10px;
            padding: 10px 40px !important;
        }
    }
    .jumbotron {
        overflow: hidden;
        img {
            width: 150%;
            transform: scale(1.29);
        }
    }
    .card_ricerca_rapida {
        padding: 30px 0;
        
        .card_specializzazione {
            width: 75px;
            //   height: 75px;
        }
    }
    .card_sponsorizzato {flex-direction: column !important;}
    .angolo_destra_alto {
        width: 50px;
        height: 50px;
    }
    .angolo_sinistra_alto {
        width: 50px;
        height: 50px;
    }
    .angolo_destra_basso {
        width: 50px;
        height: 50px;
    }
    .angolo_sinistra_basso {
        width: 50px;
        height: 50px;
    }
    .iphone_frame {
        .container_frame {
            height: 350px;
            .iphone_label {
                top: 112px;
                height: 76px;
                padding-left: 170px;
                span {
                    padding: 0 15px;
                    font-size: 11px;
                    a {
                        padding: 5px 12px;
                        font-size: 12px;
                        margin-left: 3px;
                        line-height: 3;
                    }
                }
            }
            .iphone_top {
                width: 151.6px;
                margin-left: 11.7px;
                padding: 5px 4px;
                h4 {font-size: 15px;}
            }
            .iphone_middle {
                top: 115px;
                width: 151.6px;
                margin-left: 11.7px;
                padding: 0;
                div {
                    font-size: 12px;
                    padding: 5px 0;
                    margin: 0px 0 2px 10px;
                    a {padding: 5px;}
                }
                .btn_offerte {
                    color: $verde_acqua_scuro;
                    margin: 0 5px 0 5px;
                    padding: 5px 15px !important;
                    background-color: $viola;
                    color: #68ffd4;
                    margin-left: 5px;
                    padding: 10px 30px;
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;
                    &:hover {text-decoration: none;}
                }
            }
            .iphone_bottom {
                bottom: 75px;
                width: 151.6px;
                margin-left: 11.7px;
                border-radius: 0 0 17px 17px;
            }
        }
        
    }
    footer {
        .container_footer {
            display: flex !important;
            flex-direction: column;
            .left_footer {width: 100%;}
            .center_footer {
                width: 60%;
                margin: auto;
                .iphone_top{
                    padding: 10px;
                    top: 20%;
                }
            }
            .right_footer {width: 100%;}
        }
    }

    /* Ricerca avanzata */
    #search{
        .filtri{
            .filtri_recensioni{
                .recensioni_search{
                    width: 100%;
                    flex-wrap: wrap;
                    span{
                        margin: 5px 0; 
                    }
                }
            }
        }
        .container_card_search{
            width: 80%;
            .card_search{
                width: 70%;
                height: 400px;
                a{
                    .card_top_search{
                        h4{
                            font-size: 18px;
                        }
                        .immagine_dottore_search{
                            height: 80px;  
                        }
                    }
                    .dati_dottore_search{
                        height: 320px;

                    }
                }
            }
        }
    }
    /* /Ricerca avanzata */
}

.container_statistiche{
        width: 90%;
        margin: auto;
        .statistiche_left {
            height: 100%;
            width: 100%;
            position: absolute;
        }
}

@media (min-width: 375px) and (max-width: 475px) {
    /* Ricerca avanzata */
    #search{
        .container_card_search{
            width: 80%;
            .card_search{
                width: 70%;
                height: 370px;
                a{
                    .card_top_search{
                        h4{
                            font-size: 18px;
                        }
                        .immagine_dottore_search{
                            height: 70px;  
                        }
                    }
                    .dati_dottore_search{
                        height: 300px;
              
                    }
                }
            }
        }
    }
    /* /Ricerca avanzata */
}

@media (min-width: 280px) and (max-width: 375px) {
    /* Ricerca avanzata */
    #search{
        .selezione_search{
            #select_search{
                    width: 100%;
                }
             
        }
        .filtri{
            flex-direction: column;
            .filtri_recensioni{
                width: 100%;
                flex-wrap: wrap;
                .recensioni_search{
                    width: 100%;
                    flex-wrap: wrap;
                    span{
                        margin: 5px 0; 
                    }
                }
            }
        }
        .container_card_search{
            width: 80%;
            .card_search{
                width: 70%;
                height: 300px;
                a{
                    .card_top_search{
                        h4{
                            font-size: 12px;
                        }
                        .immagine_dottore_search{
                            height: 50px;  
                        }
                    }
                    .dati_dottore_search{
                        height: 250px;
                        div{
                            ul{
                                font-size: 12px;
                                li{
                                    font-size: 12px;
                                }
                            }
                        }
                        p{
                            font-size: 12px;
                            strong{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* /Ricerca avanzata */
}

@media (max-width: 768px){
    .statistiche-right {
        height: 100%;
        width: 100%;
                filter: blur(4px);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        img {
            width: 100%;
            border-radius: 115px;
        }

    }
}

