nav{
    overflow-y: auto;
    #app{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        height:100%;
    }
    width: 100%;
    justify-content: space-between;
    .welcome_doc{
        width: 80%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem 0;
        border: 2px solid #b1b0e4;
        border-radius: 2rem;
        box-shadow: 3px 1px 39px 18px rgba(182, 201, 247, 0.94);
        -webkit-box-shadow: 3px 1px 39px 18px rgba(182, 201, 247, 0.94);
        -moz-box-shadow: 3px 1px 39px 18px rgba(182, 201, 247, 0.94);
    }
    .top{
        // background: rgba(0, 255, 255, 0.493);
        padding: 0 50px 0 35px;
        /* border-bottom: 2px solid gray; */
        height: $height_navbar;
        .top_left {
            // background: rgba(2, 150, 14, 0.63);
            width: 100%;
            padding: 0 0 0 20px;
        }

        .top_right {
            // background: rgba(173, 129, 63, 0.411);
            width: 100%;
            /* border-left: 2px solid gray; */
            padding: 0 0 0 20px;
        }
    }

    .bottom{
        margin: 0 50px 50px 0;
        padding-left: 35px;
        // background: blanchedalmond;
        height: 100%;
    
        .bottom_left{
            // background: rgba(2, 150, 14, 0.63);
            width: 100%;
            padding: 40px 20px 0 0;

            .bottom_left_header{
                // background: rgba(0, 255, 179, 0.671);
                width: 100%;
                height: calc(80%/3);
            }

            .bottom_left_main{
                // background: rgba(90, 2, 2, 0.808);
                width: 100%;
                height: calc(80%/3);
            }

            .bottom_left_footer{
                // background: rgba(4, 65, 100, 0.671);
                width: 100%;
                height: calc(80%/3);
            }
        }
        .bottom_right{
            // background: rgba(173, 129, 63, 0.411);
            width: 100%;
            /* border-left: 2px solid gray; */
            padding: 25px 0 0 20px;

            .bottom_right_top {
                // background: rgba(0, 255, 179, 0.671);
                width: 100%;
                height: 50%;
                // margin: 20px;
            }
            .bottom_right_bottom {
                // background: rgba(4, 65, 100, 0.671);
                width: 100%;
                // height: 50%;
                // margin: 20px;
            }
        }
    }
    .component-main-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .chart-component-container{
            padding: 2rem 0;
            display: flex;
            flex-flow: column wrap;
            h3{
                text-align: center;
                padding: 1.5rem;
                text-shadow: 1px 2px #3c3535;
                font-size: 2.2rem;
                color: #b1b0e4;
            }
        }
    }
}