// Variabili
$height_navbar: 60px;

body{background-color: $teal;}
#ciao {
    margin-top: 100px;
    margin-bottom: 100px;
    .main_white {
        min-height: 90vh;
        width: 90vw;
        // min-height: 90%;
        // border-radius: 5rem;
        //File di left-side-bar layout
        @import 'left-side-bar';
        //File di central-bar layout
        @import 'central-side-bar';
        //File di show-content layouts
        @import 'show-content';

    }
}