.left_side {
     width: 20%;
     border-right: 1px solid gray;

     .sidebar_top {
         padding-bottom: 18px;
         .logo {
            height: $height_navbar;
         }
     }

     .sidebar_bottom {
         height: 100%;
         padding: 10px;
         justify-content: space-between;
         flex-direction: column;
         // .sidebar_foot{ }
     }
}
