.left_side {
    width: 20%;
    border-radius: 20px;
    padding: 2rem 0;
    border: 2px solid black;
    -webkit-box-shadow: 1px 0px 20px 0px rgba(132, 94, 194, 0.75);
    -moz-box-shadow: 1px 0px 20px 0px rgba(132, 94, 194, 0.75);
    box-shadow: 1px 0px 20px 0px rgba(132, 94, 194, 0.75);

    .divider {
        background: #cecdf0;
        margin: 2rem 2rem;
    }

    .sidebar_top {
        padding-bottom: 18px;

        .logo {
         display: flex;
         justify-content: center;
         overflow: hidden;
            .navbar-brand {
                .immagine {
                    width: 200px;
                    height: 200px;

                    border: 2px solid white;
                    border-radius: 50%;
                }

                img {
                    width: 240px;
                }
            }
        }
    }

    .sidebar_bottom {
        height: 100%;
        justify-content: center;
        flex-direction: column;

        li {
            text-align: center;
        }

        // .sidebar_foot{ }
        a {
            color: #b1b0e4;
            font-weight: bold;
            background-color: unset;
            border: unset;
            padding: 1.2rem;
            border-radius: 1.2rem;

            &:hover {
                color: white;
                background-color: #a06fff;
            }

            i {
                padding-right: 1.8rem;

            }
        }
    }
}
