.left_side {
    background-image: linear-gradient(to bottom, #8d06d8, #8d07d7, #8c09d5, #8c0ad4, #8b0bd3, #7f0fc7, #7311bc, #7f0fc7, #6812b0, #6812b0, #6812b0, #6812b0);
    .navbar-brand {
        margin: 1rem !important;
        
    }

    width: 20%;
    border-radius: 20px;
    padding: 1rem 0;
    border: 2px solid rgb(58, 0, 48);
    -webkit-box-shadow: 1px 0px 20px 0px rgba(132, 94, 194, 0.75);
    -moz-box-shadow: 1px 0px 20px 0px rgba(132, 94, 194, 0.75);
    box-shadow: 1px 0px 20px 0px rgba(132, 94, 194, 0.75);

    .divider {
        background: #cecdf0;
        margin: 2rem 2rem;
    }

    .sidebar_top {
        .dashboard_redirect{
            a{
                color: #b1b0e4;
                font-weight: bold;
                background-color: unset;
                border: unset;
                padding: 1.2rem;
                border-radius: 1.2rem;
            }
        }

        .logo {
            display: flex;
            justify-content: center;
            overflow: hidden;

            .navbar-brand {
                .immagine {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    height: 200px;
                    border: 2px solid #150d62;
                    border-radius: 50%;
                    overflow: hidden;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .sidebar_bottom {
        height: 100%;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        .sidebar_main {
            overflow-y: auto;
        }
        li {
            text-align: center;
        }

        // .sidebar_foot{ }
        a {
            color: #b1b0e4;
            font-weight: bold;
            background-color: unset;
            border: unset;
            padding: 1.2rem;
            border-radius: 1.2rem;

            &:hover {
                color: white;
                background-color: #a06fff;
            }

            i {
                padding-right: 1.8rem;

            }
        }
    }
}


#navbarDropdown {

    text-transform: capitalize !important;

}
