::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 47px;
    height: 47px;
}

::-webkit-scrollbar-thumb {
    background: #8c0cd4;
    border: 23px none #8c0cd4;
    border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c0cd4;
}

::-webkit-scrollbar-thumb:active {
background: #8c0cd4;
}

::-webkit-scrollbar-track {
background: #8c0cd4;
border: 26px none #8c0cd4;
border-radius: 30px;
}

::-webkit-scrollbar-track:hover {
background: #8c0cd4;
}

::-webkit-scrollbar-track:active {
background: #8c0cd4;
}

::-webkit-scrollbar-corner {
background: transparent;
}